﻿@model IEnumerable<Asgard.Models.Production>

<h1>@ViewData["Title"]</h1>
<div class=section-container>
<table class="table">
    <thead>
        <tr>
            <th>
                Production Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwardedTons)
            </th>
            <th>
                Actual
            </th>
            <th>
                Projected
            </th>
            <th>
                Delta
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    -
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    -
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwardedTons)
                </td>
                <td>
                    -
                </td>
                <td>
                    -
                </td>
                <td>
                    -
                </td>
            </tr>
        }
    </tbody>
</table>
</div>