﻿@model Asgard.Models.Production

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Production</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionTypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Division)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Division)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwardedTons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwardedTons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
