﻿@model Asgard.Models.Production

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Production</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductionID" />
            <div class="form-group">
                <label asp-for="ProductionTypeID" class="control-label"></label>
                <input asp-for="ProductionTypeID" class="form-control" />
                <span asp-validation-for="ProductionTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Division" class="control-label"></label>
                <input asp-for="Division" class="form-control" />
                <span asp-validation-for="Division" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project" class="control-label"></label>
                <input asp-for="Project" class="form-control" />
                <span asp-validation-for="Project" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusID" class="control-label"></label>
                <input asp-for="StatusID" class="form-control" />
                <span asp-validation-for="StatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwardedTons" class="control-label"></label>
                <input asp-for="AwardedTons" class="form-control" />
                <span asp-validation-for="AwardedTons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuditID" class="control-label"></label>
                <input asp-for="AuditID" class="form-control" />
                <span asp-validation-for="AuditID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
