﻿@model IEnumerable<Asgard.Models.Production>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductionTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Division)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwardedTons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwardedTons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuditID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
