﻿@model Hel.Models.Asphalt.ProjectionsModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Projections</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectionTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectionTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Division)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwardedTons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwardedTons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
