﻿@model IEnumerable<Hel.Models.Asphalt.ProjectionsModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectionTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Division)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwardedTons)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuditID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectionTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Division)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwardedTons)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuditID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectionID })
        </td>
    </tr>
}

</table>
