﻿@model Asgard.Models.Specification

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Specification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiquidTypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiquidTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiquidPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiquidPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SpecificationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
