﻿@model Asgard.Models.Specification

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Specification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SpecificationID" />
            <div class="form-group">
                <label asp-for="ProductionID" class="control-label"></label>
                <select asp-for="ProductionID" class="form-control" asp-items="ViewBag.ProductionID"></select>
                <span asp-validation-for="ProductionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantID" class="control-label"></label>
                <input asp-for="PlantID" class="form-control" />
                <span asp-validation-for="PlantID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiquidTypeID" class="control-label"></label>
                <input asp-for="LiquidTypeID" class="form-control" />
                <span asp-validation-for="LiquidTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiquidPercent" class="control-label"></label>
                <input asp-for="LiquidPercent" class="form-control" />
                <span asp-validation-for="LiquidPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceID" class="control-label"></label>
                <input asp-for="SourceID" class="form-control" />
                <span asp-validation-for="SourceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusID" class="control-label"></label>
                <input asp-for="StatusID" class="form-control" />
                <span asp-validation-for="StatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuditID" class="control-label"></label>
                <input asp-for="AuditID" class="form-control" />
                <span asp-validation-for="AuditID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
