﻿@model IEnumerable<Asgard.Models.Specification>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlantID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiquidTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiquidPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlantID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiquidTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiquidPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuditID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpecificationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SpecificationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SpecificationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
